* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sellingSection {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 5rem;
  gap: 0.5rem;
  margin: 0rem;
}

.subtitle {
  font-family: "poppinsMedium";
  font-weight: 600;
  color: rgba(94, 98, 130, 1);
}

.title {
  font-family: "volkhovBold";
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: rgba(20, 24, 62, 1);
}

.Cardcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 100vw;
}

.decore {
  right: 0;
  position: absolute;
  color: rgba(132, 130, 154, 1);
  margin-top: 11%;
  margin-right: 10%;
}
