* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.SubscribeSec {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 100px 10px 10px 10px;
  width: 70rem;
  max-width: 70rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.title {
  text-align: center;
  max-width: 55rem;
  color: rgba(20, 24, 62, 1);
  font-size: 2.25rem;
  font-family: "poppinsRegular";
  font-weight: 600;
  margin-bottom: 3.5rem;
  z-index: 5;
}

.sendImage {
  position: absolute;
  margin-top: -22rem;
  margin-right: -70rem;
}
.ringImage2 {
  position: absolute;
  top: 0;
  right: 0;
}

.emailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}
.inputIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgba(57, 66, 93, 1);
}

.emailInput {
  font-family: "montSerratRegular";
  font-weight: 400;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(57, 66, 93, 1);
  width: 20rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.subscribeButton {
  font-family: "opensansMedium";
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(255, 125, 104, 1),
    rgba(255, 148, 109, 1)
  );
  color: white;
  border: none;
  padding: 1rem 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 100, 0, 0.3);
}

.subscribeButton:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 148, 109, 1),
    rgba(255, 125, 104, 1)
  );
}
.ringImage {
  position: absolute;
  bottom: 0;
  left: -5rem;
}

.plusIcon {
  position: absolute;
  margin-right: -75rem;
  margin-top: 22rem;
}
