* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.footer {
  margin: 0;
  padding: 1rem 10rem;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  max-width: 20%;
}

.title {
  display: flex;
  align-items: start;
  justify-content: start;
  color: rgba(24, 30, 75, 1);
  font-size: 3rem;
  font-family: "poppinsRegular";
  font-weight: 400;
}

.tagline {
  font-family: "poppinsRegular";
  font-weight: 400;
  max-width: 100%;
  color: rgba(94, 98, 130, 1);
}

.container2 {
  padding: 0.5rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 10rem;
  max-width: 20rem;
  height: auto;
}

.container2 h3 {
  color: rgba(8, 8, 9, 1);
  font-family: "poppinsBold";
  font-weight: 700;
  font-size: 1.25rem;
}

ul li {
  list-style: none;
  color: rgba(94, 98, 130, 1);
  font-family: "poppinsRegular";
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 15rem;
  max-width: 20rem;
  height: auto;
}

.row1,
.row2,
.row3 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  max-width: 15rem;
  height: auto;
}

.row3 {
  padding-left: 0.5rem;
  margin-top: 0.25rem;
}

.footerText {
  padding-left: 0.5rem;
  color: rgba(94, 98, 130, 1);
  font-family: "poppinsRegular";
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: 400;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.copyright p {
  font-size: 0.85rem;
  font-family: "poppinsRegular";
  font-weight: 400;
}
